nav {
    background-color: rgb(224, 214, 201);
}

nav ul, nav li {
    margin: 0;
    padding: 0;
}

nav > ul {
    display: flex;
    gap: 10px;
    padding: 10px;
}

nav ul > li  {
    background-color: rgb(180, 131, 117);
    list-style: none;
    border: 3px dashed white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

nav ul > li > ul {
    display: none;
}

nav ul > li:hover > ul {
    display: block;
}
